body{
    text-align: center;
    font-family: "Arial";
}
#conteiner {
    width: 70 px;
    padding: auto;
    text-align: center;

}

#conteiner h1{
    text-align: center;
    color: blue;
}

#cabecera{
    background-color: blue;
    text-align: center;
    font-family: fantasy;
    font-size: 90 px;
    
}